{% extends "base.html" %}

{% block page_content %}
<ol class="breadcrumb">
	<li><a href="{{ url_for('main.index', id=category.id) }}">所有类别</a></li>
	<li class="active">{{ category.name }}</li>
</ol>
<div class="page-header">
    <h1>{{ category.name }}</h1>
</div>
{% for course in category.courses %}
<ul class="list-inline">
    <li><a href="{{ url_for('main.show_course', course_id=course.id, chapter_index=1) }}">{{ course.name }}</a></li>
    {% if current_user.can(Permission.MODERATE_COURSES) %}
    <li><a class="btn btn-danger" href="{{ url_for('admin.course_moderate', course_id=course.id) }}">修改课程信息</a></li>
    <li><a class="btn btn-danger" href="{{ url_for('admin.course_delete', course_id=course.id) }}">删除课程</a></li>
    {% endif %}
</ul>
{% else %}
<div class="page-header">
    <h1>该类别相关课程内容正在施工中，敬请期待。</h1>
</div>
{% endfor %}
{% endblock %}