{% extends "base.html" %}

{% block title %}用户帮助手册{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>帮助手册 Q&A</h1>
</div>
<div>
<p class="text-primary">如何成为网站的注册用户？</p>
<p>通过邮箱注册，填写完个人帐号信息后去邮箱接收确认链接，点击链接后系统自动跳转到注册成功的页面</p>
<br>
<p class="text-primary">如何咨询学习网站的相关事宜？</p>
    <p>通过QQ号2654525303留言咨询（工作时间周一到周五，早上9：00-12:00/下午2:00-6:00）。</p>
<br>
<p class="text-primary">如何学习具体的课程？</p>
<p>在所有类别里选择想要学习的类别->选择对应类别的课程->选择章节->点击学习本章</p>
<br>
<p class="text-primary">关于后台管理员的相关权限？如何成为管理员？</p>
    <p>课程管理员可以添加修改和删除课程信息以及某课程某一章节的信息。课程管理员也可以协助系统管理员来审核并通过评论。</p>
<p>系统管理员具有系统的所有权限，可以编辑任何资源。</p>
    <p class="text-danger">想要成为管理员请联系QQ：2654525303咨询相关事宜。</p>
<br>
<p class="text-primary">管理网站具体如何操作？</p>
    <p>以管理员账号登录网站，在导航栏能看到“管理网站”下拉菜单，单击即可实现部分管理功能。</p>
    <p>同时，在课程和章节按钮附近都可以找到对应某一资源的管理按钮。</p>
    <p class="text-danger">要注意的是视频文件和大纲文件只有在修改章节信息的页面可以更新。新上传的文件会覆盖旧文件。</p>
</div>

{% endblock %}