{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}EFC - Learning{% endblock %}

{% set category = display_chapter.course.category %}
{% set course = display_chapter.course %}

{% block page_content %}
<ol class="breadcrumb">
	<li><a href="{{ url_for('main.category_courses', id=category.id) }}">{{ category.name }}</a></li>
	<li><a href="{{ url_for('main.show_course', course_id=course.id, chapter_index=display_chapter.index) }}">{{ course.name }}</a></li>
	<li class="active">第{{ display_chapter.index }}章</li>
</ol>
<div class="page-header">
    <h1>第{{ display_chapter.index }}章</h1>
    <p>关于本章：{{ display_chapter.about_chapter }}</p>
    <a class="btn btn-default"
       href="{{ url_for('main.show_chapter',
       course_id=display_chapter.course.id,
       chapter_index=display_chapter.prev_index) }}">前一章</a>
    <a class="btn btn-default pull-right"
       href="{{ url_for('main.show_chapter',
       course_id=display_chapter.course.id,
       chapter_index=display_chapter.next_index) }}">后一章</a>
</div>
<div>
    {% if current_user.can(Permission.COMMENT) %}
    {{ wtf.quick_form(form) }}
    {% else %}
    <h3 class="text-danger">你已经被冻结，无法回复。请联系管理员解除冻结。</h3>
    {% endif %}
    <hr>
</div>
<ul>
    {% for comment in comments %}
    <li>
        <div>
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img class="img-rounded" src="{{ comment.author.gravatar(size=40) }}">
            </a>
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                {{ comment.author.username }}
            </a>
        </div>
        <div class="pull-right">{{ moment(comment.timestamp).fromNow() }}</div>
        <div>
            {% if comment.body_html %}
                {{ comment.body_html | safe }}
            {% else %}
                {{ comment.body }}
            {% endif %}
        </div>
        <div class="pull-right">
            {% if current_user == comment.author %}
            <a href="{{ url_for('.edit', comment_id=comment.id) }}">
                <span class="label label-primary">编辑</span>
            </a>
            {% elif current_user.can(Permission.MODERATE_COMMENTS) %}
            <a href="{{ url_for('.edit', comment_id=comment.id) }}">
                <span class="label label-danger">编辑[管理员]</span>
            </a>
            {% endif %}
        </div>
        <hr>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.show_chapter', course_id=course.id, chapter_index=display_chapter.index) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}